In [12]:
import pandas as pd

datos = pd.read_csv("delitos-por-feminicidio-en-jalisco-por-municipio-periodo-2016-agosto2021.csv")

datos.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,clave_mun,municipio,2017,2018,2019,2020,Ago-2021
1,1,ACATIC,0,1,0,0,0
2,2,ACATLAN DE JUAREZ,0,0,0,1,0
3,3,AHUALULCO DE MERCADO,0,0,0,2,0
4,4,AMACUECA,0,0,0,0,0

In [13]:
datos.shape

(127, 7)

In [14]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  127 non-null    object
 1   Unnamed: 1  127 non-null    object
 2   Unnamed: 2  127 non-null    int64
 3   Unnamed: 3  127 non-null    int64
 4   Unnamed: 4  127 non-null    int64
 5   Unnamed: 5  127 non-null    int64
 6   Unnamed: 6  127 non-null    object
dtypes: int64(4), object(3)
memory usage: 7.1+ KB

In [15]:
datos.describe()

        Unnamed: 2   Unnamed: 3   Unnamed: 4   Unnamed: 5
count   127.000000   127.000000   127.000000   127.000000
mean     16.094488    16.141732    16.244094    16.393701
std     178.962151   179.047733   179.130737   179.211817
min       0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000
max    2017.000000  2018.000000  2019.000000  2020.000000

In [16]:
datos.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

In [18]:
more_than_2 = datos[datos['Feminicidios'] > 2]
more_than_2.head(80)
double_filter = datos[(datos['Feminicidios'] > 2) & (datos['Año'] = 2020)]
double_filter.head(4)

SyntaxError: invalid syntax (500341000.py, line 3)